

.characters{
    &__tabs{
        
        div{
            display: flex;
            justify-content: space-between;
            padding: 16px 3vw;
        }
        &__button{
            border-radius: 8px;
            color:red;
            font-weight: bold;
            padding: 6px;
            &--is-active{
                background-color: silver;
            }       
        }
    }
    &__display{
        display:list-item;
        padding: 16px 3vw;
        border:2px solid #fff;
        border-radius: 6px;
        list-style: none;
        &__item{
            
            &--is-active {
                display: flex;

        }}
    }
}