@use 'variables';

.characters{
    //padding:16px 2vw;
    max-width: 900px;
    
    &__tabs{
        
        div{
            display: flex;
            justify-content: space-between;
            padding: 16px 3vw;
        }
        &__button{
            border-radius: 8px;
            color: variables.$accentFontColor;
            font-weight: bold;
            padding: 6px;
            @media(max-width:768px){
                padding: 10px 2px;
                font-size: 10px;
                justify-content: space-around;
            }
            &--is-active{
                background-color: variables.$secondBackColor;
            }       
        }
    }
    &__display{
        display:list-item;
        padding: 18px 32px;
        border:2px solid variables.$mainFontColor;
        border-radius: 6px;
        list-style: none;
        &__item{
            display: none;
            
            &--is-active {
                display: flex;
                justify-content: space-around;
                padding: 20px;
                color:variables.$mainFontColor;
                font-size: 18px;
                @media(max-width:768px){
                    display: block;
                    padding:10px;
                    font-size: 14px;
                }
                
                
                img{
                    border:2px solid variables.$mainFontColor;
                    border-radius: 8px;
                    box-shadow: 2px 6px variables.$secondBackColor;
                    width:100%;
                    @media(max-width:768px){
                        max-width: 300px;
                    }
                }
                h4{
                    text-align: center;
                    margin-bottom: 20px;

                }
                ul{
                    margin-top: 20px;
                }
                

        }}
    }
}