@use 'variables';
.hero{
    margin-bottom: 16px;
    h2{
        font-size: 35px;
        text-align: center;
        padding-bottom: 16px;
        font-family: 'Cinzel', serif;
    }
    img{
        width: 100%;
        position: relative;
        padding:2px 3px;
    }
    button{
        cursor:pointer;
        position:absolute;
        top:405px;
        left:50px;
        border:1px solid  variables.$mainBackColor;
        background-color: transparent;
        color: variables.$mainBackColor;
        border-radius: 4px;
        padding:8px 16px;
        font-weight: bold;
        font-size: 20px;
        @media(max-width:768px){
            position:absolute;
            top:305px;
            left:50px;
        }
        &:hover{
            border-color: variables.$secondBackColor;
            background-color: variables.$heroColor;
        }
    }
    &__container{
        &__iframe{
            display:none;
            position:absolute;
            top:405px;
            left:250px;
            @media(max-width:768px){
                position:static;
                margin-bottom: 20px;
            }
        }

    }
}