@use 'catalog';
@use 'characters';
@use 'hero';

*{
    padding:0;
    margin:0 auto;
    box-sizing: border-box;
    background-color: rgb(4, 7, 20);;
    color:#fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.header{
    background-color: rgb(4, 7, 20);
    &__main{
        max-width: 300px;
        margin: 8px auto;
        padding:16px ;
        text-align: center;
        img{
            width:100%;
        }
    }
}

    

.tittle{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}
.tittle--small{
    text-align: center;
    font-size: 16px;
    margin: 4px auto;
}